// Ьлок преимуществ
.adventages {
  display: flex;
  flex-direction: column;
}

.adventages-header-container {
  position: relative;
  margin-bottom: 15px;
  @media (min-width: $width-mobile) {
    &::after {
      position: absolute;
      content: "";
      min-width: 100%;
      height: 37px;
      bottom: -45px;
      background-image: url("/img/text-block/white-decor.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
    }
  }
  @media (min-width: $width-tablet) {
    &::after {
      display: none;
    }
  }
}

.adventages-header {
  margin-bottom: 0;
}

.adventages__list {
  display: flex;
  flex-wrap: wrap;
}
.adventages__item {
  display: flex;
  flex-wrap: wrap;
}

// Основное преимущество
.adventage {
  width: 100%;
  display: flex;
  background: #81b3d2;
  @media (min-width: $width-tablet) {
    width: 256px;
  }
  @media (min-width: $width-desktop) {
    width: 400px;
  }
}

.adventage__container {
  width: 282px;
  color: #fff;
  margin-top: 45px;
  margin-bottom: 55px;
  @media (min-width: $width-tablet) {
    width: 192px;
  }
  @media (min-width: $width-desktop) {
    width: 400px;
  }
}
.adventage__title {
  margin-bottom: 10px;
  color: #fff;
}
.adventage__number {
  color: #fff;
  margin-bottom: 15px;
}
.adventage__description {
  color: #fff;
}

//  ЗАКОНЧИЛ ТУТ
.adventage-img {
  width: 100%;
  background-color: #eee;
  @media (min-width: $width-tablet) {
    width: 192px;
  }
  @media (min-width: $width-desktop) {
    width: 400px;
  }
}

// Основное преимущество без картинки в строке
.adventage-no-img {
  background: #eee;
  .adventage__title {
    color: #000;
  }
  .adventage__number {
    color: #333;
  }
  .adventage__description {
    color: #333;
  }
}

// Дополнительные преимущества
.adventages__additional-list {
  display: grid;
  grid-template-columns: repeat(3fr);
}

.additional-adventages-list__item {
  width: 400px;
}

.additional-adventage {
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 59px;
}

.additional-adventage__icon {
  margin-bottom: 25px;
  fill: #81b3d2;
}
