// Ьлок преимуществ
.adventages-header-container {
  display: flex;
  justify-content: center;
  position: relative;
  @media (min-width: $width-mobile) {
    &::after {
      position: absolute;
      content: "";
      min-width: 100%;
      height: 50px;
      bottom: -31px;
      background-image: url("/img/text-block/white-decor.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
    }
  }
  @media (min-width: $width-tablet) {
    &::after {
      display: none;
    }
  }
}

.adventages-header {
  br {
    // display: none;
  }
  margin-top: 32px;
  margin-bottom: 20px;
  @media (min-width: $width-tablet) {
    br {
      display: block;
    }
    margin-top: 48px;
    margin-bottom: 41px;
  }
  @media (min-width: $width-desktop) {
    margin-top: 55px;
    margin-bottom: 52px;
  }
}

.adventages-header__title {
  margin-bottom: 35px;
}

.adventages-header__description {
  line-height: 23px;
}

.adventages__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.adventages__item {
  display: flex;
  flex-wrap: wrap;
  @media (min-width: $width-tablet) {
    flex-wrap: nowrap;
  }
}

.adventage--big {
  grid-column: 1/4;
  .adventage {
    @media (min-width: $width-tablet) {
      max-width: 256px;
    }
    @media (min-width: $width-desktop) {
      max-width: 400px;
    }
  }
}

.adventage--small {
  grid-column: 1/4;
  @media (min-width: $width-tablet) {
    grid-column: auto;
  }
}

// Основное преимущество
.adventage {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #81b3d2;
  &.first-adventage {
    padding-top: 25px;
  }
  br {
    display: none;
  }
  &.change-position {
    order: -1;
  }
  @media (min-width: $width-tablet) {
    &.change-position {
      order: 0;
    }
    &.first-adventage {
      padding-top: 0;
    }
    br {
      display: block;
    }
  }
  @media (min-width: $width-desktop) {
    max-width: 400px;
  }
}

.adventage__title {
  margin-top: 40px;
  margin-bottom: 10px;
  color: #fff;
}
.adventage__number {
  color: #fff;
  margin-bottom: 15px;
}
.adventage__description {
  color: #fff;
  margin-bottom: 37px;
}

.adventage__img {
  flex: 1 1 auto;
  & img {
    width: 100%;
    display: block;
  }
}

// Основное преимущество без картинки в строке
.adventage--no-img {
  background: #eee;
  .adventage__title {
    color: #000;
  }
  .adventage__number {
    color: #333;
  }
  .adventage__description {
    color: #333;
  }
}

// Дополнительные преимущества
.additional-adventages__list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgba(238, 238, 238, 1);
  @media (min-width: $width-tablet) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.additional-adventages__item {
  display: flex;
  flex-direction: column;
  &.first-additional-item {
    margin-top: 35px;
  }
  &.second-additional-item {
    margin-top: 25px;
  }
  &.third-additional-item {
    margin-top: 27px;
  }

  &.change-position {
    order: 3;
  }
  @media (min-width: $width-tablet) {
    &.change-position {
      order: 0;
    }
  }
}

.additional-adventage {
  margin-left: 70px;
  text-align: left;
  @media (min-width: $width-tablet) {
    text-align: center;
    margin: 0 30px;
    margin-bottom: 50px;
  }
  @media (min-width: $width-desktop) {
    margin: 0 40px;
    margin-bottom: 71px;
  }
}
// Иконки для допсписка
.add-adventage-housing {
  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -50px;
    width: 39px;
    height: 37px;
    background-image: url("/img/adventages/advetages-description-icon/icon-home.svg");
    background-size: contain;
    background-repeat: no-repeat;
    @media (min-width: $width-tablet) {
      top: 60px;
      left: 50%;
      width: 75px;
      height: 72px;
      margin-left: -37px;
    }
  }
}
.add-adventage-food {
  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -50px;
    width: 40px;
    height: 35px;
    background-image: url("/img/adventages/advetages-description-icon/icon-burger.svg");
    background-size: contain;
    background-repeat: no-repeat;
    @media (min-width: $width-tablet) {
      top: 60px;
      left: 50%;
      width: 76px;
      height: 68px;
      margin-left: -37px;
    }
  }
}
.add-adventage-souvenir {
  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -45px;
    width: 32px;
    height: 38px;
    background-image: url("/img/adventages/advetages-description-icon/icon-gift.svg");
    background-size: contain;
    background-repeat: no-repeat;
    @media (min-width: $width-tablet) {
      top: 60px;
      left: 50%;
      width: 64px;
      height: 75px;
      margin-left: -37px;
    }
  }
}

.additional-adventage__title {
  position: relative;
  margin-bottom: 15px;
  @media (min-width: $width-tablet) {
    padding-top: 150px;
    margin-bottom: 20px;
  }
}
