// Секция поиска гостиниц
.search {
  margin-bottom: 61px;
  @media (min-width: $width-tablet) {

  }
  @media (min-width: $width-desktop) {

  }
}

.search__title {
  font-size: 21px;
  @media (min-width: $width-tablet) {
    font-size: 30px;
  }
}

.search__description {
  line-height: 24px;
  margin-bottom: 42px;
}

