// Стили для основных кнопок
.button {
  display: block;
  background-color: #81b3d2;
  color: #fff;
  text-align: center;
  font-family: PT Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: #669ec0;
  }
  &:active {
    color: rgba(#fff,  0.3);
    background-color: #5496bd;
  }
  @media (min-width: $width-tablet) {
    padding: 15px 100px;
  }
  @media (min-width: $width-desktop) {

  }
}

.button--disabled {
  background-color: #E5E5E5;
  pointer-events:none;
}
