// Секция каталога
.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Начальный блок с текстом
.catalog-header {
  margin-top: 32px;
  margin-bottom: 43px;
  @media (min-width: $width-tablet) {
    margin-top: 65px;
    margin-bottom: 65px;
  }
  @media (min-width: $width-desktop) {
    margin-top: 100px;
    margin-bottom: 67px;
  }
}

.catalog-header__title {
  margin-bottom: 20px;
  font-size: 18px;
  @media (min-width: $width-tablet) {
    font-size: 30px;
  }
}

.catalog-header__description {
  br {
    display: none;
  }
  @media (min-width: $width-tablet) {
    br {
      display: block;
    }
  }
}

// Список карточек фотографий
.catalog__list {
  display: flex;
  flex-wrap: wrap;
}

.catalog__item {
  margin: 0 20px;
  margin-bottom: 30px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 108%;
    height: 3px;
    bottom: 0;
    left: -20px;
    background-color: #E5E5E5;
    @media (min-width: $width-tablet) {
      display: none;
    }
  }
  @media (min-width: $width-tablet) {
    margin: 0;

  }
}


.catalog__item--big {
  flex: 1 1 1200px; /* изначальное значени для все элементов */
}

.catalog__item--small {
  min-width: 280px;
  flex: 1 1 auto;
  @media (min-width: $width-tablet) {
    width: 380px;
    &:last-child {
      max-width: 50%;
    }
  }
}

// Карточка фотографии
.card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card--big {
  .card__img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    @media (min-width: $width-tablet) {
      height: 100%;
    }
  }
}
.card--small {
  .card__img {
    width: 100%;
    max-height: 280px;
    object-fit: cover;
    @media (min-width: $width-tablet) {
      height: 100%;
    }
  }
}

// Информация к фотографии
.card__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 0;
  @media (min-width: $width-tablet) {
    flex-direction: row;
    background-color: #F2F2F2;
  }
  @media (min-width: $width-desktop) {
    position: absolute;
    background-color: rgba(#000, 0.3);
  }
}

.card-description {
  margin: 15px 20px;
}

.card-description__title {
  color: #000;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  text-transform: uppercase;
  @media (min-width: $width-tablet) {
    color: #000;
  }
  @media (min-width: $width-desktop) {
    color: #fff;
  }
}

.card-description__author {
  color: #000;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  @media (min-width: $width-tablet) {
    color: #000;
  }
  @media (min-width: $width-desktop) {
    color: #fff;
  }
}

.card-like {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 15px;
  @media (min-width: $width-tablet) {
    color: #000;
    margin-bottom: 0;
  }
}

.card-like__button {
  background-color: transparent;
  border: none;
  padding: 5px;
}

.button-like-icon {
  fill: #000;
  opacity: 0.3;
  @media (min-width: $width-tablet) {
    fill: #000;
  }
  @media (min-width: $width-desktop) {
    fill: #fff;
    opacity: 1;
  }
}

.card-like__number {
  color: #000;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  text-transform: uppercase;
  padding: 5px;
  @media (min-width: $width-tablet) {
    color: #000;
  }
  @media (min-width: $width-desktop) {
    color: #fff;
  }
}

// Конечный блок с текстом
.catalog-footer {
  margin-top: 48px;
  margin-bottom: 33px;
  @media (min-width: $width-tablet) {
    margin-top: 60px;
    margin-bottom: 66px;
  }
}

.catalog-footer__title {
  font-size: 18px;
  margin-bottom: 20px;
  @media (min-width: $width-tablet) {
    font-size: 30px;
  }
  @media (min-width: $width-desktop) {

  }
}

.catalog-footer__description {
  font-size: 14px;
  @media (min-width: $width-tablet) {
    font-size: 21px;
  }
}
