@charset "UTF-8";
/* Обнуление */
body {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

img {
  border-style: none;
}

figure {
  margin: 0;
}

button {
  padding: 0;
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  margin: 0;
  padding: 0;
}

/* Шрифты */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/source/fonts/ptsans.woff2") format("woff2");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/source/fonts/ptsansbold.woff2") format("woff2");
}
/* Для скрытия элементов со страницы, но видимости для скринридеров */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Основные стили боди и html */
html {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  background-color: #fff;
  color: black;
}

/* Прижатие футера к низу страницы */
.page-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page-header {
  position: relative;
  display: flex;
}

.main-logo {
  max-height: 97px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -93px;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-nav__item {
  min-width: 239px;
  min-height: 56px;
}
.main-nav__item:nth-child(2) {
  margin-right: 244px;
}

.main-nav__link {
  display: block;
  color: #000;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 20px;
}
.main-nav__link:hover {
  color: #81B3D2;
}
.main-nav__link:active {
  opacity: 0.3;
}

.main-nav__link--current-link {
  color: #766357;
}

.main-preview {
  height: 518px;
  text-align: center;
  background-color: #615048;
  background-image: url("/img/main-preview/main-preview-bg_desktop.jpg");
  background-repeat: no-repeat;
}

.main-preview__img {
  margin-top: 78px;
}

.main-preview-catalog {
  height: 300px;
  text-align: center;
  background-color: #615048;
  background-image: url("/img/main-preview/main-preview-bg_desktop.jpg");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.main-preview-catalog__img {
  margin-top: 105px;
}

.main-preview-form {
  height: 300px;
  text-align: center;
  background-color: #615048;
  background-image: url("/img/main-preview/main-preview-bg_desktop.jpg");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.main-preview-form__img {
  margin-top: 105px;
}

.text-block {
  width: 530px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: 41px;
  text-align: center;
}

.text-block__title {
  color: #000;
  text-align: center;
  font-family: PT Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 31px;
}

.text-block__description {
  color: #333;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}

.adventages {
  display: flex;
  flex-direction: column;
}

.adventages__list {
  display: flex;
  flex-wrap: wrap;
}

.adventage {
  width: 400px;
  display: flex;
  background: #81b3d2;
}

.adventages__item {
  display: flex;
  flex-wrap: wrap;
}

.adventage__container {
  width: 310px;
  color: #fff;
  margin-top: 45px;
  margin-bottom: 55px;
}

.adventage__title {
  margin-bottom: 10px;
  color: #fff;
}

.adventage__number {
  color: #fff;
  margin-bottom: 15px;
}

.adventage__description {
  color: #fff;
}

.adventage-img {
  flex-grow: 1;
}

.adventage-no-img {
  background: #eee;
}
.adventage-no-img .adventage__title {
  color: #000;
}
.adventage-no-img .adventage__number {
  color: #333;
}
.adventage-no-img .adventage__description {
  color: #333;
}

.adventages__additional-list {
  display: flex;
  flex-wrap: wrap;
}

.additional-adventages-list__item {
  width: 400px;
}

.additional-adventage {
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 59px;
}

.additional-adventage__icon {
  margin-bottom: 25px;
  fill: #81b3d2;
}

.search {
  width: 460px;
  margin-bottom: 61px;
}

.search__title {
  font-size: 30px;
}

.search__description {
  line-height: 24px;
  margin-bottom: 42px;
}

.map__img {
  display: block;
}

.button {
  display: block;
  background-color: #81b3d2;
  color: #fff;
  text-align: center;
  font-family: PT Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  padding: 15px 100px;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: #669ec0;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button--disabled {
  background-color: #E5E5E5;
  pointer-events: none;
}

.page-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 46px 0;
}

.sedona-link {
  color: #000;
  text-align: center;
  font-family: PT Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  /* 123.81% */
  text-transform: uppercase;
}
.sedona-link:hover {
  color: #81B3D2;
}
.sedona-link:active {
  opacity: 0.3;
}

.socials {
  display: flex;
  flex-wrap: wrap;
}

.socials__item {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials__item:not(:last-child) {
  margin-right: 6px;
}

.socials__link {
  width: 100%;
  height: 100%;
  position: relative;
}
.socials__link:hover {
  background-color: #669ec0;
}
.socials__link:active {
  background-color: #5496bd;
}
.socials__link:active .socials-icon {
  opacity: 0.3;
}

.socials-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.developer__link {
  position: relative;
  color: #000;
  text-align: center;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  padding-right: 40px;
}
.developer__link:hover .developer-icon {
  fill: #81B3D2;
}
.developer__link:active .developer-icon {
  fill: #000;
  opacity: 0.3;
}

.developer-icon {
  position: absolute;
  fill: #000;
  right: 0;
  top: 50%;
  margin-top: -17px;
}

.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-header {
  margin-top: 100px;
  margin-bottom: 67px;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card__info {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.card-description {
  margin: 15px 20px;
}

.card-description__title {
  color: #fff;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 171.429% */
  text-transform: uppercase;
}

.card-description__author {
  color: #fff;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.card-like {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.card-like__button {
  background-color: transparent;
  border: none;
  padding: 5px;
}

.button-like-icon {
  fill: #fff;
}

.card-like__number {
  color: #fff;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 171.429% */
  text-transform: uppercase;
  padding: 5px;
}

.catalog-footer {
  margin-top: 63px;
  margin-bottom: 66px;
}

.video-player {
  display: flex;
  flex-direction: column;
  position: relative;
}

.video-player__control-range {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 93px;
  bottom: 0;
}

.control-time-range {
  position: relative;
  width: 540px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.3);
}

.control-time-range__toggle {
  position: absolute;
  width: 13px;
  height: 13px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  top: -5.5px;
  left: 111px;
  z-index: 1;
  cursor: pointer;
}
.control-time-range__toggle:hover {
  opacity: 0.6;
  cursor: pointer;
}
.control-time-range__toggle:active {
  opacity: 0.3;
}

.video-player__list {
  position: absolute;
  width: 100%;
  height: 93px;
  bottom: 0;
  display: flex;
  align-items: center;
}

.video-player__item:first-child {
  margin-left: 34px;
}
.video-player__item:nth-child(2) {
  margin-left: auto;
}
.video-player__item:last-child {
  margin-left: 31px;
  margin-right: 22px;
}

.player-control {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.player-control:hover .player-control__icon {
  opacity: 0.6;
}
.player-control:active .player-control__icon {
  opacity: 0.3;
}

.player-control__icon {
  fill: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  margin-top: 114px;
  margin-bottom: 56px;
}

.main-form {
  width: 960px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-auto-flow: dense;
}

.group-inputs {
  display: flex;
  flex-wrap: wrap;
  border: none;
  margin-bottom: 50px;
}

.group-inputs__title {
  color: #000;
  font-family: PT Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  /* 123.81% */
  text-transform: uppercase;
  margin-left: 80px;
  margin-bottom: 55px;
}

.group-inputs__list {
  display: flex;
  flex-direction: column;
}

.form-input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.form-input__title {
  color: #333;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 185.714% */
  text-transform: uppercase;
  margin-right: 15px;
}

.input {
  flex-grow: 1;
  color: #000;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  /* 144.444% */
  background-color: #f2f2f2;
  border: none;
  padding: 16px 0;
  padding-left: 20px;
}
.input:hover {
  background-color: #e5e5e5;
}
.input:active {
  outline: 4px solid #e5e5e5;
  outline-offset: -4px;
  background-color: #fff;
}
.input:focus {
  outline: 4px solid #e5e5e5;
  outline-offset: -4px;
  background-color: #fff;
}

.group-names {
  justify-content: end;
}

.group-contacts {
  grid-column: 1/3;
}
.group-contacts .group-inputs__title {
  text-align: center;
  margin-left: 0;
}
.group-contacts .group-inputs__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-input__container {
  position: relative;
  margin-right: 58px;
}

.form-input__input-icon {
  position: absolute;
  display: inline-block;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
}

.input-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #010101;
}

.group-impression {
  order: -1;
}

.form-input__input-mark {
  position: relative;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  margin-right: 23px;
  cursor: pointer;
  z-index: 1;
}
.form-input__input-mark.radio-mark {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.label-radio:hover .radio-mark, .label-radio:hover .checkbox-mark,
.label-checkbox:hover .radio-mark,
.label-checkbox:hover .checkbox-mark {
  background-color: #e5e5e5;
}
.label-radio:active .radio-mark, .label-radio:active .checkbox-mark,
.label-checkbox:active .radio-mark,
.label-checkbox:active .checkbox-mark {
  background-color: #d5d5d5;
}

.form-input__radio:checked + .radio-mark::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 50%;
  background-color: #333;
  z-index: 3;
}

.form-input__checkbox:checked + .checkbox-mark::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 24px;
  height: 16px;
  background-image: url(/img/form/icon-input-checkbox.svg);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
}

.group-place-visited {
  grid-column: 1/3;
}
.group-place-visited .group-inputs__title {
  text-align: center;
  margin-left: 0;
}
.group-place-visited .group-inputs__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.group-review {
  grid-column: 1/3;
}
.group-review .group-inputs__title {
  text-align: center;
  margin-left: 0;
}

.textarea-input {
  box-sizing: border-box;
  width: 960px;
  height: 160px;
  resize: none;
  padding: 24px;
}

.group-buttons {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-auto-flow: dense;
  align-items: center;
}

.required-fields {
  text-align: end;
  color: #333;
  text-align: right;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 185.714% */
  text-transform: uppercase;
}

.modal-error {
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 400px;
  height: 347px;
  background-color: #fff;
  box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
  display: flex;
  flex-direction: column;
}
.modal-error .modal-header {
  width: 307px;
  margin-top: 54px;
  margin-bottom: 40px;
}
.modal-error .modal-footer {
  padding: 44px 91px;
  background-color: #F2F2F2;
}

.modal-accepted {
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 640px;
  height: 347px;
  background-color: #fff;
  box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
  display: flex;
  flex-direction: column;
}
.modal-accepted .modal-header {
  width: 444px;
  margin-top: 54px;
  margin-bottom: 40px;
}
.modal-accepted .modal-footer {
  padding: 44px 91px;
  background-color: #F2F2F2;
}
/*# sourceMappingURL=style.css.map */