// Переменные

// Ширина для медиазапроса. Брейкпоинт для десктопа
$width-desktop: 1200px;

// Ширина для медиазапроса. Брейкпоинт для планшета
$width-tablet: 768px;

// Ширина для медиазапроса. Брейкпоинт для мобильного устройства
$width-mobile: 320px;
